@import "./variables";
@import "./mixin";
header{
    .menu{
        background-color: #fff;
        height: 125px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(0, 0, 0);
        box-shadow: 5px 0 10px rgba(0,0,0,0.6);
        .logo{
            padding: 0  80px;
            position: relative;
            img{
                width: 250px;
                padding-left: 35px;
                padding-top: 5px;
            }
        }
        .menu_items {
            display: flex;
            list-style: none;
            margin-right: 30px;
            position: relative;
            li{
                border-radius: 3px;
                margin: 0 5px;
                :hover, li.active{
                    background-color: map-get($map: $paleta, $key: $rojo);
                    transition: .4s;
                }
                a{
                    padding: 7px 13px;
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    text-transform: uppercase;
                    color: black;
                }
            }
        }
        .btn_menu{
            margin-right: 30px;
            font-size: 25px;
            color: black;
            cursor: pointer;
            display: none;
        }
        ul.show{
            top: 125px;
        }
    }
}

@media screen and (max-width: 858px){
    header{
        .menu{
            height: 125px;
            position: fixed;
            z-index: 1;
            .logo{
                img{
                    width: 150px;
                    padding-left: 35px;
                }
            }
            .btn_menu{
                display: inline-flex;
            }
            .menu_items{
                position: fixed;
                width: 100vw;
                height: calc(100% - 65px);
                background: #414141;
                top: -100vh;
                text-align: center;
                transition: all .4s;
                flex-direction: column;
                z-index: 1;
                li{
                    margin: 30px 0 0 0;
                    line-height: 30px;
                    a{
                        font-size: 20px;
                        color: #ffff;
                        font-weight: bold;
                        a:hover{
                            color: black;
                        }
                    }
                    li:hover{
                        background: none;
                    }
                }
            }
        }
    }
    .main-container .page-box1{
        margin-right: 0px;
        margin-left: 0px;
    }
    .main-container .page-box2{
        margin-right: 0px;
        margin-left: 0px;
    }
    .main-container .page-box3{
        margin-right: 0px;
        margin-left: 0px;
    }
}