@import "./mixin";
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.store-subtitle{
    text-align: center;

    .button2{
        padding: 1px 80px;
        margin-bottom: 20px;
        background-color: rgb(173, 1, 1);
        border: 1px solid rgb(173, 1, 1);
        border-radius: 20px;
    }
}
.store-title{
    text-align: center;
    .button1{
        padding: 1px 80px;
        margin-bottom: 20px;
        background-color: rgb(173, 1, 1);
        border: 1px solid rgb(173, 1, 1);
        border-radius: 20px;
    }
}
.titulo1 {
    color: rgb(157, 13, 37);
    text-align: center;
    padding: 20px;
    margin-left: 380px;
    margin-right: 380px;
    background-color: hsla(0, 0%, 0%, 0.58);
    font-family: 'Rubik Wet Paint', cursive !important;
    border: 4px solid rgba(255, 255, 255, 0.6);
}

.main-v {
    color: rgb(2, 1, 41);
    padding: 20px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.792);
    border: 4px solid rgb(0, 0, 0);   
    background-image: url(../Picture/friends5.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 800px;
    img{
        width: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }                                   
}

.main-container{
    .page-box1{
        @include page-box(map-get($map: $paleta, $key: "rojo-claro"));
        background-image: url(../Picture/MainBoxIMG/air-jordan-mid-1-sneakers.jpeg);
        .desc-box1{
            @include desc-box();
        }
        .button1{
            @include button-box(map-get($map: $paleta, $key: "negro"));
            a{
                text-decoration: none;
                color: black;
            }
        }
        .button1:hover{
            background-color: rgb(212, 212, 212);
            transform:scale(1.03);
            transition: 0.5s;
        }
    }
    .page-box2{
        @include page-box(map-get($map: $paleta, $key: "verde"));
        background-image: url(https://media.revistagq.com/photos/5fb3a1ab4d142f2d26bed688/4:3/w_3200,h_2400,c_limit/GettyImages-1228826669.jpg);
        .desc-box2{
            @include desc-box();
        }
        .button2{
            @include button-box(map-get($map: $paleta, $key: "negro"));
            a{
                text-decoration: none;
                color: black;
            }
        }
        .button2:hover{
            background-color: rgb(212, 212, 212);
            transform:scale(1.03);
            transition: 0.5s;
        }
    }
    .page-box3{
        @include page-box(map-get($map: $paleta, $key: "azul"));
        background-image: url(https://static.nike.com/a/images/f_auto/3bbd47d3-555d-4110-9ca0-0b6f6866aed7/image.jpeg);
        .desc-box3{
            @include desc-box();
        }
        .button3{
            @include button-box(map-get($map: $paleta, $key: "negro"));
            a{
                text-decoration: none;
                color: black;
            }
        }
        .button3:hover{
            background-color: rgb(212, 212, 212);
            transform:scale(1.03);
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 858px){
    main{
        .main-v{
            width:100%;
            img{
                width: 90px;
            }
        }
        .main-container .page-box1{
            margin-right: 0px;
            margin-left: 0px;
            .button1{
                top: 68%;
                left: 2%; 
            }
        }
        .main-container .page-box2{
            margin-right: 0px;
            margin-left: 0px;
            .button2{
                top: 58%;
                left: 2%; 
            }
        }
        .main-container .page-box3{
            margin-right: 0px;
            margin-left: 0px;
            .button3{
                top: 78%;
                left: 2%; 
            }
        }
    }
}