@mixin page-box ($bordecolor){
        height: 700px;
        border-radius: 20px;
        margin-top: 60px;
        margin-left: 150px;
        margin-right: 150px;  
        background: black;
        border: 1px solid $bordecolor;
        background-repeat: no-repeat;
        background-size: cover;
}

@mixin button-box($colorl) {
    padding: 10px;
    font-size: 17px;
    color: ($colorl);
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    top: 78%;
    left: 2%;
}

@mixin desc-box {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    text-shadow: 1px 1px 2px black;
    top: 40%;
    left: 2%;
}