$rojo: red;
$rojo-claro: rgb(255, 86, 86);
$azul: blue;
$verde: green;
$amarillo: yellow;
$violeta: violet;
$negro: black;
$blanco: white;
$morado: rgb(179, 0, 255);

$paleta: (
    "rojo": red,
    "rojo-claro": rgb(255, 86, 86),
    "azul": blue,
    "verde": green,
    "amarillo": yellow,
    "violeta": violet,
    "negro": black,
    "blanco": white,
    "morado": rgb(179, 0, 255),
);
